<div class="col">
  <div class="card m-2">
    <div class="card-header bg-light">
      <div class="fs-3" style="font-weight: bold">Create Post</div>
    </div>
    <div class="card-body">
      <form class="form postForm">
        <div class="form-group mb-3">
          <label for="createPostTitle" class="form-label" style="font-weight: bold">Title</label>
          <textarea class="form-control" id="createPostTitle" rows="1"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="createPostContent" class="form-label" style="font-weight: bold">Content</label>
          <textarea class="form-control" id="createPostContent" rows="5"></textarea>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-primary" type="submit" id="create-post-btn">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/newPost.js"></script>