<div class="col">
  <div class="card m-2">
    <div class="card-header bg-light">
      <h2 class="fs-3" style='font-weight: bold'>Login</h2>
    </div>
    <div class="card-body">
      <form class="form loginForm">
        <div class="form-group mb-3">
          <label for="username" class="form-label" style='font-weight: bold'>Username</label>
          <input class="form-control" type="text" id="loginUsername"></input>
        </div>
        <div class="form-group mb-3">
          <label for="password" class="form-label" style='font-weight: bold'>Password</label>
          <input class="form-control" type="password" id="loginPassword"></input>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-primary" type="submit" id="loginBtn">Login</button>
        </div>
      </form>  
      <a class="nav-link" href="/signup">Need To Sign Up?</a>      
    </div>
  </div>
</div>

<script src="/js/login.js"></script>